@font-face{font-family:"socialico";src:url(fonts/Socialico/Socialico.eot);src:url(fonts/Socialico/Socialico.eot?#iefix) format("embedded-opentype"),url(fonts/Socialico/Socialico.woff2) format("woff2"),url(fonts/Socialico/Socialico.woff) format("woff"),url(fonts/Socialico/Socialico.ttf) format("truetype"),url(fonts/Socialico/Socialico.svg#lobster_1.4regular) format("svg")}
@font-face{font-family:'Lato';src:url(fonts/Lato-Italic.woff2) format("woff2"),url(fonts/Lato-Italic.woff) format("woff");font-weight:400;font-style:italic}
@font-face{font-family:'Rajdhani';src:url(fonts/Rajdhani-Semibold.woff2) format("woff2"),url(fonts/Rajdhani-Semibold.woff) format("woff");font-weight:600;font-style:normal}
@font-face{font-family:'Rajdhani';src:url(fonts/'Rajdhani-Regular.woff2') format("woff2"),url(fonts/Rajdhani-Regular.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:'Lato';src:url(fonts/Lato-Regular.woff2) format("woff2"),url(fonts/Lato-Regular.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:'Rajdhani';src:url(fonts/Rajdhani-Bold.woff2) format("woff2"),url(fonts/Rajdhani-Bold.woff) format("woff");font-weight:700;font-style:normal}
@font-face{font-family:'Rajdhani';src:url(fonts/Rajdhani-Medium.woff2) format("woff2"),url(fonts/Rajdhani-Medium.woff) format("woff");font-weight:500;font-style:normal}
/* body */
.suspension-contain {max-height: 980px;overflow:hidden;position: relative;}
html.suspended {background: rgba(0,0,0,0.6);}
body {max-width: 100%;min-width: 1200px;margin: 0 auto;text-align: center;font-family: 'Rajdhani'}
a {color:inherit;text-decoration: none}
a:hover {text-decoration: none;color:inherit;}
h1,h2,h3,h4,h5{ padding:0; margin:0; }
.row {max-width: 1200px;margin: 0 auto}
/*floats*/
.fl {float:left;}
.fr {float:right;}
/* grids */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
/*typography*/
.text-primary{ color: #B11414; }
.text-bold{ font-weight: 700; }
.text-uppercase{ text-transform: uppercase }
.text-center{ text-align: center !important; }
.text-left{ text-align: left; }
.text-right{ text-align: right; }
/*button*/
.btn {font-size: 15px; font-weight: 400; color: #FFF; display: inline-block; padding: 17.5px 37.5px; background:#5C8D23;border-radius: 100px; border: 1px solid transparent; transition: all 0.5s ease;}
.btn:hover {background: #ddd; border-color: #ddd; color: #ddd; color: #000;}
/*clearings*/
.clear{ clear:both;}
.clearfix:after {content:"."; display:block; height:0; clear:both;visibility:hidden;font-size: 0;}
.clearfix {display:block;}
/*cookie*/
.cc-animate.cc-revoke.cc-bottom{font-size: 14px; padding: 5px 10px; position: fixed; display: block!important; transform: none!important; bottom: 0!important; left: 20px!important;}
/*call to action*/
.destroy-on-load, .cta {display: none;}
/*contact form messages*/
form .messages p {display: none;font-family: Arial !important;font-weight: 400 !important;letter-spacing: 0 !important;font-size: 16px !important;}
form .loading {display: none;}
form .alert {padding: 15px;margin-bottom: 20px;border: 1px solid transparent;border-radius: 4px;}
form .alert-success {color: #3c763d;background-color: #dff0d8;border-color: #d6e9c6;}
form .alert-danger {color: #a94442;background-color: #f2dede;border-color: #ebccd1;}
form [type="submit"] {margin:20px auto}
/*contact form*/
.ctc-form {margin: 0 auto;text-align: center;}
.ctc-form input[type="text"],.ctc-form textarea {font-family:Arial;font-size: 16px;color:#000;height:45px;display: block;width: 100%;border:1px solid #ddd;border-radius: 3px;padding: 5px 10px;box-sizing: border-box;margin: 0 auto 8px}
.ctc-form textarea {height: 120px;padding-top:10px;}
.ctc-form button {display: block;}
.ctc-form .recap {display: inline-block;}
.ctc-form .g-recaptcha div {margin: 0 auto 10px;}
.ctc-form .ctc-hide {display: none;}
/*gallery*/
#content .gallery-container {text-align: center;}
#content .gallery {list-style-type: none;margin: 0;padding: 0;}
#content .gallery li {display: inline-block;}
#content .thumbnail {background-color: #fff;border: 1px solid #ddd;border-radius: 4px;display: block;line-height: .42857; margin-bottom: 20px;padding: 4px;transition: border 0.5s ease-in-out 0s;}
#content .thumbnail:hover {transform: scale(1.02);}
#content .page_navigation {display: inline-block;}
#content .page_link,#content .previous_link,#content .next_link,#content  .first_link,#content  .last_link, #content .ellipse {background-color: #fff;border: 1px solid #ddd;color:  #0275d8;display: inline-block;line-height: 1.25;margin-left: -1px;padding: 0.5rem 0.75rem;position: relative;}
#content .page_navigation > a:hover , .page_navigation > a.active_page {background-color: #eceeef;border-color: #ddd;color: #014c8c;text-decoration: none;}
h1 {font-size: 45px; color: #000000;font-weight: 700}
h2 {font-size: 45px; color: #000000;font-weight: 700}
h3 {font-size: 40px; color: #000000;font-weight: 500}
h4 {font-size: 25px; color: #000000;font-weight: 700}
h5{font-size: 30px; font-weight: 500; color: #FFF;border-radius: 200px; background: #CC4C1F; max-width: 67px; padding: 18px 0; margin: 0 auto 30px;}
/*header*/
#header {background: none;padding: 12px 0 1px}
#header .row{max-width: 1060px;}
#header nav a#pull {display: none}
#header nav ul {margin: 0;padding: 0}
#header nav ul li {display: inline-block;vertical-align: middle;}
#header nav ul li a {font-weight: 600; font-size: 18px; color: #FFF;margin: 0 0 0 80px;text-shadow: 0 0 2px #000}
#header nav ul li:first-child a{margin: 0;}
#header nav ul li.active-menu a, #header nav ul li a:hover {color:#5C8D23;}
.hdRightTop{margin-bottom: 40px;}
.hdRightTop .phoneTop{color: #FFF;font-weight: 600; font-size: 25px; padding:0 0 1px 50px; background: url(../images/common/css-sprites.png)no-repeat 0 0;background-size: 34px 198px;}
/*banner*/
#banner {background: url(../images/common/bgBanner.jpg)no-repeat center bottom;background-size: cover;padding: 400px 0 150px; margin-top: -131px;}
#banner .col-5{width: 45.83%;text-align: left;}
#banner h1{font-size: 36px; font-weight: 600; color: #FFF;}
#banner p{font-family: "Lato"; font-weight: 400; font-size: 18px; color: #FFFFFF;margin: 0 auto 25px;}
/* service */
#services{padding: 40px 0 0;}
#services .row{position: relative;}
#services .tools{max-width: 399px; width: 100%;position: absolute;top: -320px;left: 30px;}
#services .container {margin: 75px 0 0;}
#services .container a{position: relative; width: 24%;display: inline-block; vertical-align: top;margin: 0 7px;}
#services .container a img{border-radius: 200px; border: 8px solid #FFF;max-width: 254px; box-shadow: 0 0 40px -10px}
#services .container a:first-child, #services .container a:last-child{margin: 0;}
#services .container a p{position: absolute; top: 50%; left: 50%; transform:translate(-50%,-51%);margin: 0 auto;font-size: 20px; font-weight: 700; color: #FFF;width: 152px;padding: 66px 0; border-radius: 200px; background: rgba(0,0,0,0.8);transition: all 0.5s ease}
#services .container a:last-child p{padding: 56px 0;transition: all 0.5s ease}
#services .container a:hover p{width: 253px;padding: 116px 0;}
#services .container a:last-child:hover p{padding: 108px 0;}
/* welcome */
#welcome{background: none;position: relative;padding: 34px 0 0;}
#welcome .wlcSide{position: absolute;right: 0; top: 130px;z-index: -1; max-width: 170px; width: 10%;}
#welcome .container{margin-top: 50px;}
.wlcLeft img{border-radius: 300px; max-width: 448px; width: 100%;border: 8px solid #FFF; box-shadow: 0 0 40px -10px}
.wlcRight{padding: 20px 0 0;}
/*.wlcRight p:nth-child(1){font-size: 18px; font-family: "Lato"; font-weight: 400; color: #CC4C1F;max-width: 400px;line-height: 25px}*/
.wlcRight p:nth-child(1){font-size: 30px; font-family: "Lato"; font-weight: 400; color: #CC4C1F;max-width: 400px;line-height: 160%;}
.wlcRight p{font-size: 15px; font-family: "Lato"; font-weight: 400; color: #000;line-height: 25px}
.wlcRight .btn{margin-top: 40px;}
/* about */
#about{background: none;position: relative;padding: 34px 0 0;}
#about .container{margin-top: 50px;}
.abtLeft p{font-size: 15px; font-family: "Lato"; font-weight: 400; color: #000;line-height: 25px; margin: 40px 0;}
.abtRight img{border-radius: 300px; max-width: 535px; width: 100%;border: 8px solid #FFF; box-shadow: 0 0 40px -10px}
/* gallery */
#gallery{background: url(../images/common/bgGallery.jpg)no-repeat center top; background-size: 100% 100%; padding: 236px 0 100px;margin-top: -120px;}
#gallery h2{color: #FFF;}
#gallery ul li{display: inline-block; vertical-align: middle;color: #FFF; border-right: 1px solid #FFF;padding: 0 15px;}
#gallery ul li:last-child{border-right: none}
#gallery ul li a{font-family: "Lato"; font-weight: 400; font-size: 15px; color: #FFF; letter-spacing: 3px}
#gallery ul li a:hover{color:#CC4C1F;}
#gallery .container dl{display: inline-block; vertical-align: top; width: 24%;}
#gallery .container dl dt img{border-radius: 200px; border: 8px solid #FFF;max-width: 232px; box-shadow: 0 0 40px -10px}
#gallery .container dl dd{font-family: "Lato"; font-weight: 400; font-size: 15px; letter-spacing: 3px; margin: 10px auto 0;}
#gallery .container dl dd.before{color: #CC4C1F}
#gallery .container dl dd.after{color: #FFFFFF}
/* contact */
#contact{padding: 40px 0 1px;background: none; position: relative;z-index: 1}
#contact img.cntSide{position: absolute; top: 40px;left: 0; z-index: -1;max-width: 169px; width: 13%;}
.contactLeft .section{max-width: 300px; margin: 0 auto;}
.contactLeft ul{margin: 0;padding: 0;}
.contactLeft ul li{display: block;font-family: "Lato"; font-weight: 400; font-size: 17px; color: #000000;margin: 50px auto;}
.contactLeft .section p.accept{display: block;font-family: "Lato"; font-weight: 400; font-size: 17px; color: #000000;}
.contactLeft ul li p{margin: 0;}
.contactLeft ul li .addBot{background: url(../images/common/css-sprites.png)repeat-y;background-position: 0px 161px;background-size: 34px 198px;padding: 6px 0 6px 55px;}
.contactLeft ul li .phoneBot{background: url(../images/common/css-sprites.png)repeat-y;background-position: 0px 119px;background-size: 34px 198px;padding: 6px 0 6px 55px;}
.contactLeft ul li .emailBot{background: url(../images/common/css-sprites.png)repeat-y;background-position: 0px 76px;background-size: 34px 198px;padding: 6px 0 6px 55px;}
.contactLeft ul li .timebot{background: url(../images/common/css-sprites.png)repeat-y;background-position: 0px 33px;background-size: 34px 198px;padding: 6px 0 6px 55px;}
.contactRight .section{border-radius: 200%; box-shadow: 0 0 40px -10px; padding: 40px 0;text-align: center;}
.contactRight .section form{max-width: 500px; width: 100%;}
.contactRight .section form input[type="text"], .contactRight .section form textarea{ border-radius: 100px; max-width: 340px; width: 100%; height: 48px;padding: 12px 10px;background: #EEEEEE}
.contactRight .section form .g-recaptcha{transform: scale(0.8);}
#contact .foottools{position: absolute; bottom:-240px; right: 0px;max-width: 399px;width: 25%;}
/* map */
#map{position: relative;background: url(../images/common/bgMap.jpg)no-repeat center top; background-size: 100% 100%;padding: 378px 0 169px;margin-top: -50px;}
/*footer*/
#footer {background: #FFF;padding: 25px 0}
.footTop ul{padding: 0; margin: 0;}
.footTop ul li{display: inline-block; vertical-align: middle;word-spacing: 3px}
.footTop ul li a{font-weight: 600; font-size: 18px; color: #000000;margin-left: 3px;}
.footTop ul li.active-menu a, .footTop ul li a:hover {color:#5C8D23;}
.footMid{font-family: "Lato"; font-weight: 400; font-size: 13px; color: #000000;}
.footBot p{letter-spacing: 10px}
.footBot p a{font-family: "socialico"; font-size: 25px; color: #000000;}
#footer .silver img {display: inline-block;vertical-align: middle;max-width: 50px}
/*inner pages*/
.inner #content {min-height: 400px;padding: 40px 0}
.services-page #content{text-align: left;}
.services-page #content #inner_services{max-width: 800px; margin: 0 auto;}
.services-page #content h1{text-align: center;margin-bottom: 40px;}
.services-page #content h2{font-size: 25px}
.services-page #content p{margin: 1em auto;font-size: 20px}
.services-page #content ul {list-style: none;padding: 0;margin: 1em auto;}
.services-page #content ul li{font-size: 20px; }
.services-page #content a{font-size: 20px}
.services-page #content span{font-size: 20px}
/*privacy policy*/
.inPrivacyBox {max-width: 850px; margin: 0 auto;}
.inPrivacyBox p {text-align: justify!important;}
@media screen and (max-width: 1440px){
  #contact img.cntSide{width: 12%;}
}
/** Responsive
-------------------------------------------------------*/
/*
@media screen and (max-width: 1024px){
	body {min-width: 320px}
	.row {width: 95%}
}
@media screen and (max-width: 800px){
  [class*="col-"] {width: 100%;}
	#header {padding: 0}
	#header .row {width: 100%}
	#header nav {display:block; height: auto; }
  	#header nav ul { width: 100%; display: none; height: auto;border-bottom:5px solid #000; padding: 0 15px;}
  	#header nav ul li { width: 100%;position: relative; }
  	#header nav ul li a { display: block; float:none; padding: 10px 0;}
  	#header nav a {text-align: left; width: 100%;}
	#header nav a strong {position: absolute; top: 50%; transform: translateY(-50%); left: 15px;}
	#header nav a#pull {display: block; color: #fff; background-color: #000; height: 30px;padding: 10px 0; width: 100%; position: relative;}
	#header nav a#pull:after { content:""; background: url('../images/nav-icon.png') no-repeat; width: 20px; height: 20px; display: inline-block; position: absolute; right: 15px; top: 50%; transform: translateY(-50%);}
	.cta{background: #035B96  url("../images/common/phonecall.png") no-repeat center center;border-bottom-left-radius: 40px;border-top: 2px solid #013f9a ;border-top-left-radius: 40px;bottom: 1%;display: block;height: 80px;position: fixed;right: 0;text-decoration: none; text-indent: -9999em;width: 100px;z-index: 999;}
}*/


/*modification codes*/
#inner_services h2{font-size: 25px;}
#inner_services ul{margin: 0;}
#inner_services ul:nth-of-type(1){margin-top: 10px;}
#inner_services ul li{padding: 5px 0;}
#inner_services p{margin: 0;}
#inner_services strong{display: block;margin-top: 15px;}
#inner_services .ft-phone{display: block;color: #5C8D23;}
#inner_services .ft-phone:hover{color: #000;transition: all 0.3s ease-in-out;}
#inner_services span{display: block;}
